# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Test helpers
test/helpers/

# Dotenv file
.env

functions/practice
broadcast/
script/deploy/DeploySimple.s.sol
report.md
src/modules/ThrowCLF.sol
.notes.md
.certora_internal/
flattened/
test/TestTest.t.sol
gambit_out/
mutation_campaign/
test/PoC2.t.sol
test/PoC.t.sol
.DS_STORE
collect.json