# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

functions/practice
broadcast/
script/deploy/DeploySimple.s.sol
report.md
src/modules/ThrowCLF.sol
.notes.md
.certora_internal/
flattened/
test/TestTest.t.sol